.invite {
    padding: 20px;
    border-radius: 16px;
    background: radial-gradient(rgba(161, 233, 105, 0.5), rgba(35, 165, 64, 0.5), rgba(29, 29, 30, 0.2)), url("../../../public/Images/BannerInvite/Background.png"), var(--Black2, #0F0F0F);
 
    @include border-gradient(2, 16px, linear-gradient(rgba(197, 252, 69, 1), rgba(14, 46, 22, 1), rgba(25, 100, 42, 1)));

    @include flex-column;
    position: relative;
    z-index: 10;
    overflow: hidden;
    flex: 1 0 auto;

    &__heading {
        color: var(--White, #FFF);
        @include font-manrope-20-bold;
        font-weight: 900;
        text-transform: uppercase;

        margin-bottom: 34px;
    }

    &__description {
        color: var(--White, #FFF);
        @include font-manrope-14-medium;

        margin-bottom: 23px;
    }

    &__button {
        z-index: 5;
        white-space: nowrap;
    }

    &__image {
        position: absolute;
        top: 27px;
        right: -10px;
        transform: rotate(7deg);
    }

    &__path {
        @include flex-center;
        transform: scale(1.1);
        
        position: absolute;
        top: 0;
        right: 0;
        z-index: -4;
    }

    // &__circle {
    //     position: absolute;
    //     left: 50%;
    //     top: 82px;
    //     transform: translate(-50%);
    //     width: 452px;
    //     height: 318px;
    //     flex-shrink: 0;

    //     background: rgba(0, 0, 0, 0.64);
    //     backdrop-filter: blur(1.0937753915786743px);
    //     z-index: -1;
    // }
}