.pay-crypto {
    width: 100%;

    &-info {
        @include flex-column;
        border-radius: 20px 20px 0px 0px;
        background: var(--Gray5, #2D2D2E);
        padding: 30px 24px;

        &__logo {
            margin-bottom: 24px;
        }

        &__amount {
            color: var(--White, #FFF);
            @include font-manrope-32-bold;
            margin-bottom: 8px;
        }

        &__details {
            @include flex-row(12);
            align-items: center;
            
            color: var(--Text-gray-Dark, #A5A5A5);
            @include font-manrope-16-medium;

            &-delimiter {
                line-height: 20%;
            }

            margin-bottom: 16px;
        }

        &__warning {
            @include flex-row(8);
            align-items: center;
            border-radius: 12px;
            background: var(--Black3, #1D1D1D);
            padding: 8px 16px;

            color: var(--Text-gray-Dark, #A5A5A5);
            @include font-manrope-12-regular;
        }
        
    }

    &-select {
        @include flex-column(32);

        &__list {
            @include flex-column(6);
            border-radius: 0px 0px 20px 20px;
            background: var(--Black3, #1D1D1D);
            padding: 24px;
        }

        &__label {
            @include flex-row(16);
            align-items: center;
        }

        &__select {
            background: var(--Black2, #0F0F0F) !important;
            border-radius: 12px;
            // padding: 18px 12px 18px 20px !important;
            height: 60px !important;
        }

        &__popup {
            background: var(--Gray5, #2D2D2E);
            @include font-manrope-16-regular;
            color: var(--White, #FFF);
        }
    }

    &-action {
        @include flex-column;
        border-radius: 0px 0px 20px 20px;
        background: var(--Gray5, #2D2D2E);
        padding: 0px 24px 24px 24px;

        &__address {
            @include flex-column(0, center);
            align-items: center;
            border-radius: 12px 12px 0px 0px;
            background: var(--Black2, #0F0F0F);
            padding-block: 20px 32px;

            &-qr {
                margin-bottom: 20px !important;
            }

            &-description {
                color: var(--Gray6, #B6B8BD);
                text-align: center;

                @include font-manrope-12-regular;

                margin-bottom: 4px;
            }

            &-value {
                color: var(--White, #FFF);
                text-align: center;

                @include font-manrope-16-semibold;

                margin-bottom: 11px;
            }

            &-button {
                @include reset-button;
                @include flex-row(4);
                align-items: center;

                padding: 12px 16px;

                border-radius: 50px;
                background: var(--Gray-button, #404040);
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

                color: var(--White, #FFF);
                font-family: var(--font-inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 14px */

                margin-bottom: 27px;
            }

            &-checkbox {
                @include flex-row(8);
                align-items: center;

                color: var(--Text-gray-Dark, #A5A5A5);
                @include font-manrope-12-medium;
            }
        }

        &__footer {
            @include flex-row(8, center);
            align-items: center;
            color: var(--Text-gray-Dark, #A5A5A5);
            text-align: center;

            @include font-manrope-12-regular;
            margin-top: 20px;
        }
    }
}

.ant-select-item-option-selected {
    background: none !important;
}