.pay-card {
    &-main {
        @include flex-column(24);
        border-radius: 20px 20px 0px 0px;
        background: var(--Gray5, #2D2D2E);
        padding: 30px 24px;

        &__amount {
            color: var(--White, #FFF);
            @include font-manrope-32-bold;
        }
        
    }

    &-action {
        border-radius: 0px 0px 20px 20px;
        background: var(--Black3, #1D1D1D);
        padding: 24px;
        @include flex-column(16);
        align-items: center;


        &__list {
            @include flex-row(12, center);

            &-image {
                width: auto;
            }
        }

        &__warning {
            color: var(--Text-gray-dark2, #6B6B6B);
            text-align: center;

            @include font-manrope-12-regular;
        }
        
    }
}