:root {
  font-family: "Manrope";
  background: rgba(15, 15, 15, 1);
}

form {
  overflow: hidden;
  width: clamp(0px, 500px, 100%);
  margin: 0 auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (min-width: 576px) {
  form {
    overflow: visible;
    border-radius: 20px;
  }
}

label {
  font-size: 0.75rem;
  line-height: 18px;

  display: flex;
  column-gap: 10px;
  align-items: center;
}

.control {
  padding: 20px;
}

.payee {
  padding: 24px;
  position: relative;
  background: rgba(45, 45, 46, 1);
}

@media (min-width: 576px) {
  .payee {
    padding: 30px 24px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.data {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.control {
  /* padding: 24px; */
  background: rgba(29, 29, 29, 1);
}

@media (min-width: 576px) {
  .control {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.price {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 42px;
  margin: 20px 0 20px 0;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.64px;
}

@media (min-width: 576px) {
  .price {
    font-size: 2rem;
    line-height: 38px;
    margin: 0 0 24px 0;
  }
}

.group {
  width: 100%;
  position: relative;
}

.details {
  flex: 0.5 1 0;
}

.payer_card {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  width: clamp(0px, 100%, 100%);
  padding: 18px 30px;
  border: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(15, 15, 15, 1);
  border-radius: 12px;
}

::placeholder {
  color: rgba(165, 165, 165, 1);
}

button:focus-visible,
input:focus-visible {
  outline: solid #555565ff 1px;
  outline-offset: 0;
}

button[type="submit"] {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: rgba(15, 15, 15, 1);
  background: linear-gradient(90deg, #24fe41 0%, #fdfc47 100%);
  box-shadow: 0px 0px 70px -20px rgba(53, 230, 54, 0.4);
  border-radius: 20px;
  cursor: pointer;
}

@media (min-width: 576px) {
  button[type="submit"] {
    font-size: 1rem;
    line-height: 24px;
  }
}

button[disabled] {
  opacity: 50%;
  cursor: auto;
}

@media (min-width: 576px) {
  .wrapper {
    margin-top: 40px;
  }
}

.terms-of-service {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  text-align: center;
  margin: 16px 0;
  color: rgba(107, 107, 107, 1);
}

@media (min-width: 576px) {
  .terms-of-service {
    margin: 16px 84px;
  }
}

.payment-systems {
  display: flex;
  column-gap: 12px;
  justify-content: center;
}

.back {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
  text-decoration: none;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.back-icon {
  box-sizing: content-box;
  padding: 6px;
  background: linear-gradient(223.26deg, #4e9f0d -3.22%, #0bbc87 100%);
  border-radius: 9999px;
}

@media (min-width: 576px) {
  .back span {
    display: none;
  }

  .back {
    position: absolute;
    translate: -80px;
  }
}

.hidden {
  display: none;
}

.error {
  color: #ef4444;
  font-size: 12px;
  visibility: hidden;
  padding: 5px;

  display: none;
}

.decline-message {
  margin-top: 15px;
  color: #ef4444;
}

.card-tokens-title {
  font-size: 1rem;
  color: #ffffff;
}

.card-tokens {
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.card-token {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: rgba(15, 15, 15, 1);
  padding: 0 10px;
}

.card-token:hover {
  cursor: pointer;
}

button[type="button"] {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  color: #ffffff;
  background: linear-gradient(223.26deg, #4e9f0d -3.22%, #0bbc87 100%);
  border-radius: 10px;
  margin: 15px 0 0 auto;
}

button[type="button"]:hover {
  cursor: pointer;
}

.brand-img {
  width: 50px;
  height: 50px;
}

/* .brand-img-visa {
  background-image: url("../img/visa.svg");
  background-repeat: no-repeat;
  background-size: 50px auto;
}

.brand-img-mastercard {
  background-image: url("../img/mastercard.svg");
  background-repeat: no-repeat;
  background-size: 50px auto;
} */

.cancellation {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  text-align: center;
  color: rgba(165, 165, 165, 1);
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon-card-type {
  position: absolute;
  width: 50px;
  top: 6px;
  right: 10px;
}
