.login {


    position: relative;

    &__inner {
        @include flex-column(32);
        align-items: center;
        background: var(--Black3, #1D1D1D);
        padding: 36px 40px;
        border-radius: 24px;
        border: 1px solid #343434;
        position: relative;
        overflow: hidden;

        @include mobile {
            padding: 20px 24px;
        }
    }

    &__circle {
        @include square(227px);
        position: absolute;
        border-radius: 50%;
        background: rgba(36, 254, 65, 0.40);
        filter: blur(100px);

        top: -227px;
        left: 50%;
        transform: translate(-50%);
    }

    &__backbutton {
        position: absolute;
        top: 13px;
        padding: 10px;
        left: 0;
    }

    &__heading {
        @include font-inter-24-black-italic;
        font-weight: 900;
        text-align: center;
        @include text-gradient;

        max-width: 247px;
        text-transform: uppercase;
    }

    &__form {
        width: 100%;

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &-button {
            white-space: nowrap;
        }

        &-input {
            height: 60px;
            background: var(--Black2, #0F0F0F);
            border: none;
            border-radius: 12px;
            color: var(--White, #FFF);
            flex: 1;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: #FCFCFC !important;
            }

            &:focus-visible {
                outline: none;
            }

            &__wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: var(--Black2, #0F0F0F);
                border-radius: 12px;
                padding: 0 12px;
            }
        }

        &-button {
            height: 56px;

        }
    }

    &__hr {
        margin-block: 0;
        position: relative;
        z-index: 0;
        overflow: visible;
        height: 1px;

        &--notext {
            &::after {
                all: unset !important;
            }
        }

        &::after {
            content: 'or';
            @include abs-center;

            color: var(--Color, #CCC);
            background: var(--Black3, #1D1D1D);
            padding: 0 10px;

            /* PC/Body/16 */
            font-family: var(--font-inter);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
    }

    &__main {
        @include flex-column(4);
        align-items: center;
    }

    &__text {
        @include font-manrope-16-medium;
        color: var(--Text-gray-dark2, #6B6B6B);
        text-align: center;

        &--status {
            margin-bottom: 34px;
            color: green;
            font-weight: var(--sds-typography-weight-semibold);
        }

        &-link {
            margin-inline: 10px;
            color: #5C4FF9;
            font-weight: var(--sds-typography-weight-regular);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        &-item {
            @include reset-button;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            width: 100%;
            flex: 0 1 60px;
            padding-inline: 22px;
            border-radius: 12px;
            background: var(--Black2, #0F0F0F);
            color: var(--White, #FFF);

            /* PC/Body/16 */
            font-family: var(--font-inter);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */
        
            &--blue {
                background: #5865F2;
            }

            &--skyblue {
                background: #2B77EA;
            }

            &--purple {
                background: #6001D1;
            }

        }

        &-text {
            text-align: center;

            font-size: 16px;
            font-style: normal;
            font-weight: var(--sds-typography-weight-semibold);
            line-height: 21px;
            justify-self: center;
            margin: auto;
        }

        &-icon {
            svg *[fill] {
                fill: revert-layer !important;
            }
            @include flex-center;
        }
    }
}

.verification {
    height: 40vh;
    font-size: 36px;
    font-weight: var(--sds-typography-weight-bold);
}