.generator {
    background: url("../../../public/Images/BannerInvite/Background.png"), var(--Black1, #060606);
    border-radius: 20px;
    border: 1px solid var(--Gray-button, #404040);

    height: 100%;
    position: relative;

    @include tablet {
        margin-inline: -20px;

        border-radius: 0 0 20px 20px;
        border: none;

        height: calc(100% - 62px - 46px);

        &--tablet-fullheight {
            height: 100%;
            margin-bottom: 0;
        }
    }

    @include flex-center;
    flex-direction: column;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 10px;
        border: 1px solid var(--Stroke, #171717);
        display: block;
        margin: 20px;
        width: calc(100% - 20px * 2);
        height: calc(100% - 20px * 2);
        
        background: url("../../../public/Images/UndressGenerator/Background.png");
        background-repeat: repeat;
        // background-size: cover;
        background-position: 50% 50%;
    }

    &-header {
        @include flex-row(20, space-between);
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        padding: 32px;
        position: absolute;

        @include tablet {
            display: none;
        }

        &__main {
            @include flex-row(19);
            align-items: center;
            order: 2;

            height: 60px;
            padding: 0 24px;

            border-radius: 20px;
            border: 1px solid var(--Stroke, #171717);
            background: var(--Black2, #0F0F0F);
            
            @include tablet-above {
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
            }
        }

        &__burger {
            height: 60px;
            width: 60px;
            z-index: 100;
    
            &--navbar, &--default {
                position: relative;
                inset: 0;
                order: 1;
            }
    
            @include tablet {
                order: 6;
                position: relative !important;
                inset: 0;
            }
        }

        &__buttons {
            @include flex-row(8);
            height: 100%;
            padding-block: 6px;

            &--tablet {
                position: absolute;
                top: 20px;
                right: 20px;
                @include flex-column(8);
                z-index: 100;
            }

            &-item {
                @include flex-center;
                @include reset-button;
                @include square(48px);

                border-radius: 16px;
                border: 0px solid #5E5E5E;
                background: var(--Black3, #1D1D1D);
            }
        }
    }

    &-tools {
        @include flex-column;
        bottom: 56px;
        left: 50%;
        transform: translate(-50%);
        position: absolute;

        z-index: 100;

        @include tablet {
            width: 100%;
            
            position: relative;
            left: 0;
            bottom: 0;
            transform: unset;
        }

        &__progress {
            @include flex-column(8);

            color: var(--White, #FFF);
            @include font-manrope-16-semibold;

            padding-left: 12px;
            width: 360px;

            @include tablet {
                width: 100%;
            }
        }

        &__rate {
            &-wrapper {
                padding: 20px;
                border-radius: 16px;
                background: var(--Black3, #1D1D1D);
                white-space: nowrap;

                @include flex-center;
                width: 100%;
            }

            &-icon {
                @include svg-current;
                color: #333333;

                &--active {
                    @include svg-refill;
                }
            }
        }

        &__button {
            // text-transform: capitalize !important;
            white-space: nowrap;

            @include tablet {
                width: 100%;
                flex: 0 1 auto;
            }
            
            &-list {
                @include flex-row(8);
                width: 100%;
            }
        }


        &__main {
            @include flex-row(20);
            align-items: center;
            order: 2;

            padding: 10px;

            border-radius: 20px;
            background: var(--Black2, #0F0F0F);

            &--noradius {
                border-radius: 0 0 20px 20px;
            }

            @include tablet {
                gap: 16px;
                flex-wrap: wrap;
            }
        }

        &__buttons {
            @include flex-row(8);
            flex: 1;

            &-item {
                @include flex-row(10, center);
                align-items: center;
                @include reset-button;
                white-space: nowrap;
                position: relative;
                cursor: pointer;

                width: calc(100% / 3);
                flex: 0 1 auto;

                padding: 19px 32px;

                border-radius: 16px;
                border: 0px solid #5E5E5E;

                @include font-manrope-18-semibold;
                color: var(--Text-gray-dark2, #6B6B6B);
                
                &--active {
                    background: var(--Black3, #1D1D1D);
                    color: var(--White, #FFF);
                }

                @include tablet {
                    gap: 7px;
                    flex-wrap: wrap-reverse;
                    padding: 15px;
                }
            }

            &-icon {
                @include svg-current;

                @include tablet {
                    flex: 0 1 100%;
                }
            }

            &-rectangle {
                position: absolute;
                right: 6px;
                bottom: 6px;
            }
        }

        &__line {
            width: 1px;
            height: 44px;
            background: #2C2C2C;

            @include tablet {
                display: none;
            }
        }
    }

    &-settings {
        @include flex-column(20);
        background: var(--Black2, #0F0F0F);
        border-radius: 20px 20px 0 0;
        width: 100%;
        padding: 28px 12px 10px;
        height: 100%;

        overflow-y: auto;

        @include tablet {
            position: absolute;
            bottom: 100%;
            left: 0;
            height: calc(100dvh - 100%);
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &__heading {
            @include font-roboto-mono-16-medium;
            color: var(--White, #FFF);
            padding-left: 20px;
        }

        &__list {
            @include flex-column(4);
        }

        &__item {
            --selector-background: #1A1A1A;
            --selector-color: #5E5E5E;

            @include flex-column(20);
            padding: 22px 16px;
            border-radius: 20px;

            cursor: pointer;

            @include tablet {
                padding: 16px;
            }


            &--active {
                background: var(--Black3, #1D1D1D);

                --selector-background: #EAEAEA;
                --selector-color: var(--Black2, #0F0F0F);
            }

            &-info {
                @include flex-row(16);
                align-items: center;
                flex-wrap: wrap;
            }

            &-icon {
                @include square(40px);
                background: #2A2A2A;
                border-radius: 50%;

                flex: 0 1 40px;
                @include svg-current;
                color: #fff;

                @include tablet {
                    order: 1;
                }
            }

            &-main {
                @include flex-column;
                @include tablet {
                    order: 3;
                    flex: 0 1 100%;
                }
            }

            &-settings {
                @include flex-column(8);
                border-radius: 16px;
                padding: 16px 20px;
                background: var(--Black2, #0F0F0F);

                &__title {
                    color: var(--White, #FFF);
                    @include font-roboto-mono-16-medium;
                }

                &__list {
                    @include flex-row(8);
                }

                &__item {
                    @include flex-row(10);
                    align-items: center;
                    border-radius: 12px;
                    background: var(--Black1, #060606);

                    padding: 12px 20px;

                    @include font-manrope-16-semibold;
                    text-transform: capitalize;

                    border: 1px solid #060606;

                    @include tablet {
                        padding: 12px 16px;
                        @include font-manrope-14-semibold;
                    }

                    &--active {
                        border: 1px solid #C5FC45;
                        background: linear-gradient(180deg, #060606 0%, #213221 100%);                        
                    }
                }

                &__dot {
                    border-radius: 50%;
                    background-color: #24FE41;

                    &--small {
                        width: 10px;
                        height: 10px;
                    }

                    &--medium {
                        width: 16px;
                        height: 16px;
                    }

                    &--big {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            
            &-title {
                color: var(--White, #FFF);
                @include font-manrope-18-semibold;
            }

            &-description {
                color: var(--Text-gray-dark2, #6B6B6B);
                @include font-manrope-14-semibold;
            }

            &-selector {
                @include flex-row(8);
                flex: 0;
                height: fit-content;
                align-items: center;
                margin-left: auto;

                color: var(--selector-color);
                @include font-manrope-14-semibold;
                @include svg-current;

                padding: 7px 20px;
                border-radius: 50px;
                border: 1px solid var(--Stroke, #171717);
                background: var(--selector-background);

                @include tablet {
                    order: 2;
                }

                &__icon {

                    &--active {
                        @include svg-current;
                        color: #1F1F1F;
                    }
                }
            }

        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: auto;
            gap: 10px;

            height: 100%;

            overflow-y: auto;

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            &-item {
                @include flex-column;
                height: 140px;
                border-radius: 10px;
                border: 1px solid transparent;
                position: relative;

                &--active {
                    border: 1px solid #4E9F0D;
                }
            }

            &-title {
                @include flex-center;
                flex: 0 1 auto;
                height: 32px;
                border-radius: 0 0 10px 10px;
                background: var(--Black3, #1D1D1D);

                color: var(--Text-gray-dark2, #6B6B6B);
                text-align: center;
                @include font-manrope-14-medium;
            }

            &-image {
                object-fit: cover;
                object-position: 0 60%;
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: calc(100% - 32px);
            }

            &-icon {
                position: absolute;
                top: 6px;
                left: 6px;
            }
        }
    }

    &-loader {
        @include flex-column(24);
        @include abs-center;
        z-index: 300;

        &__text {
            @include font-manrope-32-bold;
            color: var(--White, #FFF);
            text-align: center;
        }
    }

    &-start {
        @include flex-column(20);
        border-radius: 20px;
        border: 2px solid #343434;
        background: var(--Black2, #0F0F0F);
        padding: 36px 34px;
        z-index: 100;

        @include tablet {
            width: 80%;
        }

        &__heading {
            @include text-gradient;
            @include font-inter-20-black-italic;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
        }

        &__selector {
            @include flex-row;

            &-item {
                @include flex-column(4);
                align-items: center;
                flex: 1;

                @include font-manrope-14-semibold;
                color: var(--Text-gray-Dark, #A5A5A5);
                padding: 10px 15px;
                border-radius: 10px;

                &--active {
                    background: var(--Black3, #1D1D1D);
                    color: var(--White, #FFF);
                }

            }

            &__icon {
                @include svg-current;

                &--active {
                    color: #1F1F1F;
                }
            }
        }

        &__button {
            width: 100%;
            text-transform: uppercase;


            &-wrapper {
                @include flex-column(12);
                width: 308px;

                @include tablet {
                    width: 100%;
                }
            }
        }

        &__upload {
            width: 100%;

            .ant-upload {
                width: 100%;
            }
        }

        &__hr {
            height: 1px;
            margin-block: 12px;
        }

        &__instagram {
            @include flex-column(10);
            align-items: center;
            border-radius: 12px;
            border: 2px dashed var(--Gray5, #2D2D2E);
            background: #1D1F1F;
            padding: 16px;

            color: var(--Text-gray-Dark, #A5A5A5);
            @include font-manrope-16-semibold;
        }
    }

    &-ready {
        height: 100%;
        @include flex-center;
        position: relative;
        z-index: 50;
        padding: 20px;

        overflow: auto;

        &__image {
            height: auto;
            max-height: 100%;
            width: auto;

            border-radius: 20px;

            pointer-events: none;

            @include tablet {
                width: 100%;
            }
        }
    }

    &-processing {
        height: 100%;
        @include flex-center;
        z-index: 50;
        overflow: auto;
        position: relative;

        &__image {
            height: auto;
            max-height: 100%;
            width: auto;

            border-radius: 20px;

            pointer-events: none;

            @include tablet {
                width: 100%;
            }
        }

        &__blur {
            @include flex-center;
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
        }
    }

    &-error {
        height: 100%;
        @include flex-center;
        z-index: 50;

        &__image {
            height: auto;
            max-height: 100%;
            width: auto;

            border-radius: 20px;

            pointer-events: none;

            @include tablet {
                width: 100%;
            }
        }

        &__blur {
            @include flex-column(20);
            @include abs-center;
            backdrop-filter: blur(10px);
            padding: 35px;

            color: #FF3D00;
            text-align: center;
            @include font-inter-20-black-italic;
            text-transform: uppercase;


            border-radius: 20px;
            border: 2px solid #343434;
            background: var(--Black2, #0F0F0F);

        }
    }

    &-result {
        height: 100%;
        @include flex-center;
        z-index: 50;
        overflow: auto;


        &__image {
            max-height: 100%;
            height: auto;
            width: auto;

            border-radius: 20px;

            pointer-events: none;

            @include tablet {
                width: 100%;
            }

            &--fullheight {
                height: 100%;

                @include tablet {
                    width: 100%;
                }
            }
        }
    }
}