.improve {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 32px;
    min-height: 95px;
    border-radius: 16px;
    background: url("../../../public/Images/BannerInvite/Background.png") lightgray 0% 0% / 100px 100px repeat, var(--Black3, #1D1D1D);
 
    border-radius: 16px;
    border: 2px solid var(--Stroke-2, #242424);

    position: relative;
    z-index: 10;
    overflow: clip;

    &__heading {
        color: var(--White, #FFF);
        @include font-inter-18-black-italic;
        font-weight: 900;
        text-transform: uppercase;

        @include text-gradient;

        text-align: center;
    }

    &__description {
        color: var(--White, #FFF);
        @include font-manrope-14-medium;

        margin-bottom: 23px;
    }

    &__button {
        z-index: 5;
        white-space: nowrap;
    }

    &__image {
        position: absolute;
        object-fit: contain;
        top: -50px;
        left: 0;
    }

    &__star {
        position: absolute;

        &--1 {
            top: 16px;
            left: 111px;
        }

        &--2 {
            top: 10px;
            left: 11px;
        }
    }

    &__path {
        @include flex-center;
        transform: scale(1.1);
        
        position: absolute;
        top: 0;
        right: 0;
        z-index: -4;
    }
}