.modalinstruction {
    @include flex-column();

    &__images {
        @include flex-row(4);
        margin-bottom: 20px;

        &-item {
            width: 100%;
            flex: 1;
            position: relative;
            object-fit: contain;

            // &::after {
            //     content: 'bad';
            //     z-index: 10000;
            //     height: 41px;
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     width: 100%;
            //     background: rgba(0, 0, 0, 0.50);
            //     backdrop-filter: blur(25px);

            //     color: #AFA2A2;
            //     text-transform: uppercase;

            //     @include font-manrope-20-bold;
            // }
        }
    }

    &__heading {
        @include text-gradient;
        @include font-inter-20-black-italic;
        font-weight: 900;
        text-transform: uppercase;

        margin-bottom: 5px;
    }

    &__description {
        max-width: 300px;
        @include font-manrope-16-medium;

        margin-bottom: 20px;
    }

    &__points {
        @include flex-row(10);
        align-self: center;

        margin-bottom: 20px;
        
        &-item {
            width: 8px;
            height: 8px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.20);

            &--active {
                background: #24FE41;
                width: 24px;

                transition-duration: 0.4s;
            }
        }
    }
}