.accordion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px !important;

    &-question {
        z-index: 10;
        padding: 20px 18px;
        border-radius: 16px;
        border: 1px solid #343434;
        
        background: var(--Black3, #1D1D1D);

        @include flex-column(10);
        width: 100%;

        &--variant {
            &-instruction {
                padding: 30px;
                background: var(--Black2, #0F0F0F);

                @include mobile {
                    padding: 16px;
                }
            }
        }
        
        &__title {
            @include flex-column;
            white-space: pre-line;
            &-number {
                @include text-gradient;
                @include font-inter-20-black-italic;
            }
        }

        &__header {
            @include flex-row(30, space-between);
            @include font-manrope-16-bold;
            color: var(--White, #FFF);
            align-items: center;

            &--variant-instruction {
                @include font-manrope-24-semibold;

                @include mobile {
                    font-size: 18px;
                }
            }
        }


        &__text {
            @include font-manrope-14-regular;
            color: var(--Text-gray-medium-light);

            &--variant-instruction {
                @include font-manrope-16-regular;
                color: var(--White);
                opacity: 0.5; 
            }
        }

        &__header {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
        }

        &__button {
            @include flex-center;
            @include svg-current;
            @include reset-button;

            width: 40px;
            height: 40px;
            background: var(--Gr1);
            border-radius: 12px;
            flex: 0 0 auto;
            color: rgba(19, 19, 19, 1);
            box-shadow: 0px 0px 70px -20px rgba(53, 230, 54, 0.40);

            &--expanded {
                color: var(--White);
                background: var(--Black3, #1D1D1D);
                box-shadow: unset !important;

                svg {
                    transform: rotate(45deg);
                }

                &-faq {
                    background: #2D2D2E;
                }
            }
        }
    }
}