.pricing-card {
    width: 100%;
    --flex-gap: 40px !important;
    

    &--popular {
        --background: radial-gradient(138.77% 71.55% at 77.1% -16.87%, #A1E969 0%, #23A540 25.76%, rgba(29, 29, 30, 0.00) 71.46%), url("../../../public/Images/PricingCard/Background.png"), #1D1D1E !important;
        --border-diamonds: 0.8px solid rgba(255, 255, 255, 0.50);
        box-shadow: 0px 0px 10px 0px #A1E969 inset;
    }

    &__title {
        @include font-inter-24-black-italic;
        text-transform: uppercase;
        font-weight: 900;
        opacity: 0.5;

        
        &--popular {
            background: var(--Gr1) !important;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            opacity: 1;
            padding-inline: 5px;
        }
    }

    &__price {
        @include font-manrope-32-bold;
    }

    &__item {
        --background: var(--Ultra-dark, #1D1D1E);
        --color-info: var(--White);
        --color-list: var(--White);
        --border-diamonds: 2px solid #343434;
        --background-diamonds: var(--Black2, #0F0F0F);

        background-size: cover;
        background-repeat: no-repeat;
        flex: 1;
        border-radius: 20px;
        background: var(--background);
        position: relative;
        box-sizing: border-box;
        border: 1px solid #343434;
        padding: 20px;
        display: flex;
        flex-direction: column;

        overflow: hidden;
    }

    &__circle {
        position: absolute;
        width: 227px;
        height: 227px;
        left: 50%;
        top: -227px;
        border-radius: 50%;
        transform: translate(-50%);

        background: rgba(53, 230, 54, 0.40);
        filter: blur(100px);
    }

    &__info {
        @include flex-row(15, space-between);
        align-items: center;
        margin-bottom: 8px;
    }

    &__description {
        @include flex-row(12);

        .pricing-card__list-item {
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }

    &__list {
        color: var(--color-list);
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 32px;

        &-item {
            @include font-manrope-14-regular;
            color: var(--Color, #CCC);
            display: inline-flex;
            align-items: center;
            gap: 8px;

            &::before {
                content: '';
                width: 8px;
                height: 8px;
                flex-shrink: 0;

                border-radius: 50%;
                background-color: #4E9F0D;
            }
        }
    }

    &__diamonds {
        display: inline-flex;
        gap: 5px;
        align-items: center;
        padding: 6px 12px;

        border-radius: 639px;
        border: var(--border-diamonds);

        font-size: 16px;
        font-style: normal;
        font-weight: var(--sds-typography-weight-regular);
        line-height: 150%; /* 24px */

        background: var(--background-diamonds);

        &-icon {
            width: 20px;
            height: 20px;
        }
    }
}